<div class="padding-user">
    <!-- Header -->
    <div class="page-header">
        <h1>Reset Password</h1>
    </div>
    <!-- Header -->

    <div class="row">
        <div class="col-md-6 col-sm-8">
            <!-- Start Form -->
            <form ng-hide="reset.hide" name="regForm" ng-submit="reset.savePassword(regData, regForm.$valid, confirmed);" novalidate>
                <!-- Password Div -->
                <div ng-class="{ 'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error':(!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted) }">
                    <!-- Password Input -->
                    <label>รหัสผ่าน:</label>
                    <input ng-disabled="reset.disabled" class="form-control" type="password" name="firstPassword" placeholder="please enter password" ng-model="firstPassword" ng-minlength="8" ng-maxlength="35" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d]).{8,35}$/" required>
                    <!-- Password Validation -->
                    <p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">This field is required</p>
                    <ul ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)" class="help-block">
                          <li>ต้องมีตัวพิมพ์ใหญ๋อย่างน้อย 1 ตัว</li>
                    <li>ต้องมีตัวพิมพ์เล็กอย่างน้อย 1 ตัว</li>
                    <li>ต้องมีตัวเลขอย่างน้อย 1 ตัว</li>
                    <li>ต้องมีจำนวนอักษร 3-25 ตัว</li>
                    </ul>
                </div>
                <!-- Password Div -->

                <br>

                <!-- Confirm Password Div -->
                <div ng-class="{ 'has-success':confirmed && !regForm.confirmPassword.$error.required, 'has-error':(!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required) }">
                    <!-- Confirm Password Input -->
                    <label>ยืนยันรหัสผ่าน:</label>
                    <input ng-disabled="reset.disabled" class="form-control" type="password" name="confirmPassword" placeholder="please enter password" match="{{[firstPassword]}}" ng-change="reset.regData.password = confirm" ng-model="confirm" required>
                    <!-- Confirm Password Validation -->
                    <p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">กรุณากรอกข้อมูล</p>
                    <p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">รหัสผ่านไม่ตรงกัน</p>
                </div>
                <!-- Confirm Password Div -->
                <br>
                <!-- Submit Button -->
                <button ng-disabled="reset.disabled" class="btn btn-primary" type="submit">ตั้งรหัสผ่านใหม่</button>
                <!-- Submit Button -->

            </form>
            <!-- End Form -->
        </div>
    </div>

    <br>

    <!-- Loading Icon (Bootstrap) -->
    <div class="jumbotron text-center" ng-show="reset.loading">
        <span class="glyphicon glyphicon-repeat spinner"></span>
        <p>Loading....</p>
    </div>
    <!-- Loading Icon (Bootstrap) -->

    <br>

    <!-- Custom Success Message -->
    <div class="row show-hide-message" ng-show="reset.successMsg">
        <div class="alert alert-success">{{ reset.successMsg }}</div>
    </div>
    <!-- Custom Success Message -->

    <br>

    <!-- Custom Error Message -->
    <div class="row show-hide-message" ng-show="reset.errorMsg">
        <div class="alert alert-danger">{{ reset.errorMsg }}</div>
    </div>
    <!-- Custom Error Message -->
</div>