<div class="padding-user">
    <div class="col-md-6 col-md-offset-6 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading" style="text-align: center;">
                <strong>ข้อมูลผู้ใช้</strong>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <tr class="text-bold">
                        <td>ชื่อ-นามสกุล</td>
                        <td>ชื่อผู้ใช้</td>
                        <td>อีเมล์</td>
                    </tr>
                    <tr>
                        <td>{{main.name}}</td>
                        <td>{{main.username}}</td>
                        <td>{{main.useremail}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>